{% extends "master.twig" %}

{% block title %}{{boardName}} - {{LANG_PWDRECOVER}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />

<!-- validation box. -->
<div style="display:none;" id="div_ErrMsg">
	<div class="ui-widget centerContainer" style="width: 45%;">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsg').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
			<p id="validateRes"></p>
		</div>
	</div>
</div>

{{PWDRECOVERFORM|raw}}
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header centerText">::{{LANG_PWDRECOVER}}::</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{{LANG_USERNAME}}/{{LANG_EMAIL}} [{{URL_TAG("/register", LANG_REGISTER)|raw}}]</td>
<td class="ui-widget-content" width="50%">
	<input type="text" name="recover_info" class="text" size="30" id="recover_info" />
	{{VALIDATION_USERNAME_EMAIL|raw}}
</td>
</tr><tr>
<td colspan="2" class="ui-widget-header centerText"><input type="submit" value="{{LANG_GETPASS}}" class="submit" /></td>
</tr>
</table>
</form>

<script type="text/javascript">
new FormValidator('frmPasswordRecovery', [{
    name: 'recover_info',
    display: '{{LANG_USERNAME}} / {{LANG_EMAIL}}',
    rules: 'required'
}], function(errors, event) {

    if (errors.length > 0) {
        $('#validateRes').empty();
        $('#validateRes').append(errors.join('<br />'));
        $('#div_ErrMsg').show();
    } else {
        event.returnValue = true; //allow form to process.
    }
    
});
</script>

{% endblock %}
