{% extends "/ClearBlue2/master.twig" %}

{% block title %}{{boardName}} - {{LANG_LOGIN}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />

<!-- validation box. -->
<div style="display:none;" id="div_ErrMsgLogin">
	<div class="ui-widget centerContainer" style="width: 45%;">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsgLogin').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
			<p id="validateLogin"></p>
		</div>
	</div>
</div>

{{LOGINFORM_FULL|raw}}
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header centerText">::{{LANG_LOGIN}}::</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{{LANG_USERNAME}} [{{URL_TAG("login/register", LANG_REGISTER)|raw}}]</td>
<td class="ui-widget-content" width="50%"><input type="text" name="username" class="text" size="30" tabindex="1" id="usr" />
{{VALIDATION_USERNAME|raw}}
</td>
</tr><tr>
<td class="ui-widget-content" width="50%">{{LANG_PASSWORD}} [{{URL_TAG("login/PasswordRecovery", LANG_FORGOT)|raw}}]</td>
<td class="ui-widget-content" width="50%"><input type="password" name="password" class="text" size="30" tabindex="2" id="pwd" />
{{VALIDATION_PASSWORD|raw}}
</td>
</tr><tr>
<td class="ui-widget-content" width="50%">&nbsp;</td>
<td class="ui-widget-content" width="50%"><input type="checkbox" name="auto_login" value="1" />{{LANG_REMEMBERTXT}}</td>
</tr><tr>
<td colspan="2" class="ui-widget-header centerText"><input type="submit" value="{{LANG_LOGIN}}" class="submit" /></td>
</tr>
</table>
</form>
<script type="text/javascript">
$('#usr').focus();

new FormValidator('frmLogin', [{
	name: 'username',
	display: '{{LANG_USERNAME}}',
	rules: 'required'
}, {
	name: 'password',
	display: '{{LANG_PASSWORD}}',
	rules: 'required'
}], function(errors, event) {

	if (errors.length > 0) {
		$('#validateLogin').empty();
		$('#validateLogin').append(errors.join('<br />'));
		$('#div_ErrMsgLogin').show();
	} else {
		event.returnValue = true; //allow form to process.
	}

});
</script>

{% endblock %}
