{% extends "/ClearBlue2/master.twig" %}

{% block title %}{{boardName}} - {{LANG_REGISTER}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />

<script type="text/javascript" src="{{BOARD_URL}}js/pwdTester.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$( '#password' ).live( 'keyup', function() {
	var howStrong = passwordStrength( $( this ).val() );
	$( '.strength-text', $( this ).next() ).text( howStrong );
	var sColor = '#555';
	switch( howStrong ) {
		case 'Strong' :
			$( '.password-strength', $( this ).next() ).css( 'background-color', '#006600' );
			break;
		case 'Medium' :
			$( '.password-strength', $( this ).next() ).css( 'background-color', '#009900' );
			break;
		case 'Weak' :
			$( '.password-strength', $( this ).next() ).css( 'background-color', '#CC9900' );
			break;
		case 'Short' :
			$( '.password-strength', $( this ).next() ).css( 'background-color', '#FF0000' );
			break;
		default :
			$( '.password-strength', $( this ).next() ).css( 'background-color', '#555' );
	}
	}).focusout( function() {
		$( this ).trigger( 'keyup' );
	});
});
</script>

<!-- validation box. -->
<div align="center" style="display:none;" id="div_ErrMsg">
	<div class="ui-widget" style="width: 45%;">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsg').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
			<p id="validateRes"></p>
		</div>
	</div>
</div>
{{REGISTERFORM|raw}}
<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
	<td colspan="2" class="ui-widget-header" align="center">{{LANG_REGISTER}}</td>
</tr><tr>
	<td class="ui-widget-content" width="50%">{{LANG_EMAIL}}</td>
	<td class="ui-widget-content" width="50%"><input name="email" type="text" size="30" maxlength="255" class="text" id="email" />{{VALIDATION_EMAIL|raw}}</td>
</tr><tr>
	<td class="ui-widget-content" width="50%">{{LANG_USERNAME}}<a href="#" class="hint">[?]<span>{{LANG_RULE}}</span></a></td>
	<td class="ui-widget-content" width="50%"><input name="username" type="text" size="30" maxlength="25" class="text" id="username" />{{VALIDATION_USERNAME|raw}}</td>
</tr><tr>
	<td class="ui-widget-content" width="50%">{{LANG_PASSWORD}}</td>
	<td class="ui-widget-content" width="50%">
		<input name="password" type="password" size="30" class="text" id="password" />
		<div class="PwdStrengthBox"><span class="password-strength"></span> <span class="strength-text">Type Password</span></div>
		{{VALIDATION_PASSWORD|raw}}
	</td>
</tr><tr>
	<td class="ui-widget-content" width="50%">{{LANG_CONFIRMPWD}}</td>
	<td class="ui-widget-content" width="50%"><input name="password_confirm" type="password" size="30" class="text" id="password_confirm" />{{VALIDATION_VPASSWORD|raw}}</td>
</tr><tr>
	<td class="ui-widget-content" width="50%">{{LANG_TIME}}</td>
	<td class="ui-widget-content" width="50%">{{TimeZone|raw}} {{VALIDATION_TIMEZONE|raw}}</td>
</tr><tr>
	<td class="ui-widget-content" width="50%">{{LANG_TIMEFORMAT}}<a href="#" class="hint">[?]<span>{{LANG_TIMEINFO}}</span></a></td>
	<td class="ui-widget-content" width="50%"><input type="text" name="time_format" value="{{TIMEFORMAT}}" size="30" maxlength="14" class="text" id="time_format" />{{VALIDATION_TIMEFORMAT|raw}}</td>
</tr><tr>
	<td class="ui-widget-content" width="50%">{{LANG_PMNOTIFY}}</td>
	<td class="ui-widget-content" width="50%"><input type="radio" name="pm_notice" value="1" checked=checked />{{LANG_YES}} <input type="radio" name="pm_notice" value="0" />{{LANG_NO}}</td>
</tr><tr>
	<td class="ui-widget-content" width="50%">{{LANG_SHOWEMAIL}}</td>
	<td class="ui-widget-content" width="50%"><input type="radio" name="show_email" value="0" />{{LANG_YES}} <input type="radio" name="show_email" value="1" checked=checked />{{LANG_NO}}</td>
</tr><tr>
	<td class="ui-widget-content" width="50%">{{LANG_STYLE}}</td>
	<td class="ui-widget-content" width="50%">{{STYLE|raw}} {{VALIDATION_STYLE|raw}}</td>
</tr><tr>
	<td class="ui-widget-content" width="50%">{{LANG_LANGUAGE}}</td>
	<td class="ui-widget-content" width="50%">{{LANGUAGE|raw}} {{VALIDATION_LANGUAGE|raw}}</td>
</tr>
{%if PREF_CAPTCHA == 1%}
<tr>
	<td class="ui-widget-content" width="50%">{{LANG_CAPTCHA}}<a href="#" class="hint">[?]<span>{{LANG_CAPTCHAHELP}}</span></a></td>
	<td class="ui-widget-content" width="50%">
		<input type="text" name="captcha" size="10" class="text" id="captcha" />&nbsp;<strong>{{CAPTCHA}}</strong>
		{{VALIDATION_CAPTCHA|raw}}
	</td>
</tr>
{%endif%}

{%if PREF_RULES == 1%}
<tr>
	<td colspan="2" class="ui-widget-content" align="center">
		<textarea name="tos_msg" rows="5" cols="40" class="text" readonly=readonly>{{RULES}}</textarea><br />
		<input name="tos_terms" id="tos_terms" type="checkbox" value="yes" /><b>{{LANG_AGREE}}</b>
	</td>
</tr>
{%endif%}
<tr>
<td colspan="2" class="ui-widget-content" align="center">
	<input name="coppavalid" id="coppavalid" type="checkbox" value="yes" />
	{%if PREF_COPPA == 13%}
		<strong>{{COPPA_13}}</strong>
	{%elseif PREF_COPPA == 16%}
		<strong>{{COPPA_16}}</strong>
	{%elseif PREF_COPPA == 18%}
		<strong>{{COPPA_18}}</strong>
	{%elseif PREF_COPPA == 21%}
		<strong>{{COPPA_21}}</strong>
	{%else%}
		{# Show nothing #}
	{%endif%}
</td>
</tr><tr>
	<td colspan="2" class="ui-widget-header" align="center"><input type="submit" VALUE="{{LANG_REGISTER}}" class="submit" /></td>
</tr>
</table>
</form>

<script type="text/javascript">
new FormValidator('frmRegister', [{
    name: 'username',
    display: '{{LANG_USERNAME}}',
    rules: 'required|alpha_numeric'
}, {
    name: 'password',
	display: '{{LANG_PASSWORD}}',
    rules: 'required'
}, {
    name: 'password_confirm',
    display: '{{LANG_CONFIRMPWD}}',
    rules: 'required|matches[password]'
}, {
    name: 'email',
	display: '{{LANG_EMAIL}}',
    rules: 'required|valid_email'
},
{% if PREF_RULES == 1 %}
{
    name: 'tos_terms',
    display: '{{LANG_AGREE}}',
    rules: 'required'
},
{% endif %}
{% if PREF_COPPA == 13 or PREF_COPPA == 16 or PREF_COPPA == 18 or PREF_COPPA == 21 %}
{
    name: 'coppavalid',
    display: '{{LANG_COPPA}}',
    rules: 'required'
},
{% endif %}
{%if PREF_CAPTCHA == 1%}
{
    name: 'captcha',
    display: '{{LANG_CAPTCHA}}',
    rules: 'required|numeric'
},
{% endif %}
{
    name: 'time_format',
    display: '{{LANG_TIMEFORMAT}}',
    rules: 'required'
}], function(errors, event) {

    if (errors.length > 0) {
        $('#validateRes').empty();
        $('#validateRes').append(errors.join('<br />'));
        $('#div_ErrMsg').show();
    } else {
        event.returnValue = true; //allow form to process.
    }
    
});
</script>

{% endblock %}
