{% extends "/ClearBlue2/master.twig" %}

{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}

{% block bodyRender %}

<script type="text/javascript" src="{{BOARD_URL}}js/jquery.jUploader.js"></script>
<!-- markItUp! -->
<script type="text/javascript" src="{{BOARD_URL}}js/jquery.markitup.js"></script>
<!-- markItUp! toolbar settings -->
<script type="text/javascript" src="{{BOARD_URL}}js/set.js"></script>
<!-- API detection -->
<script type="text/javascript" src="{{BOARD_URL}}js/validateAPI.js"></script>
<!-- Rich text editor file -->
<script type="text/javascript" src="{{BOARD_URL}}js/pEditor.js"></script>

{{BREADCRUMB|raw}}<br />

{{VALIDATIONSUMMARY|raw}}<br />

<!-- validation box. -->
<div align="center" style="display:none;" id="div_ErrMsg">
	<div class="ui-widget" style="width: 45%;">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsg').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
			<p id="validateRes"></p>
		</div>
	</div>
</div>

<table border="0" class="table" cellpadding="1" cellspacing="1">
<tr>
	<td class="ui-widget-header" align="center">
		{{LANG_POSTINGRULES}}
	</td>
</tr><tr>
	<td class="ui-widget-content" align="center">
		{{LANG_ALLOWSMILES}}: 
		{% if ALLOWSMILES == 1 %}
		<strong>{{LANG_YES}}</strong>
		{% else %}
		<strong>{{LANG_NO}}</strong>
		{% endif %}
		&nbsp;|&nbsp;
		{{LANG_ALLOWBBCODE}}:
		{% if ALLOWBBCODE == 1 %}
		<strong>{{LANG_YES}}</strong>
		{% else %}
		<strong>{{LANG_NO}}</strong>
		{% endif %}
		&nbsp;|&nbsp;
		{{LANG_ALLOWIMG}}: 
		{% if ALLOWIMG == 1 %}
		<strong>{{LANG_YES}}</strong>
		{% else %}
		<strong>{{LANG_NO}}</strong>
		{% endif %}
	</td>
</tr>
</table><br />

<!-- warning container -->
<div align="center" style="display:none;" id="div_ErrMsg">
	<div class="ui-widget" style="width: 45%;">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsg').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<strong>Alert:</strong>&nbsp;<span id="ErrMsg"></span></p>
		</div>
	</div>
</div>

<div id="moreSmiles"></div>

{% if ATTACHMENTLIMIT > 0 %}
<div id="DLG_upload">
	{{UPLOADFORM|raw}}
		<input id="attach" name="userfile" type="file" /><br />
		<input type="submit" value="{{LANG_UPLOAD}}" id="fileUpload" />
		<input type="reset" value="{{LANG_CLEAR}}" id="ClearList" />
		<input type="button" value="{{LANG_ADDMOREFILES}}" id="addMoreFiles" />
	</form>
	<div id="filelist"></div>
</div>
<script type="text/javascript">
	$(function(){
		$('#attach').jUploader({
			lngOk: lang.Ok,
			lngYes: lang.Yes,
			lngNo: lang.No,
			lngError: lang.Error,
			duplicateTitle: lang.duplicateTitle,
			duplicateMsg: lang.duplicateMsg,
			LoadingGfx: "{{BOARD_URL}}application/views/ClearBlue2/images/loading.gif",
			LoadingMsg: lang.attachLoading,
			PendingMsg: lang.attachPending,
			SuccessMsg: lang.attachSuccess,
			FailureMsg: lang.attachFailed,
			uploadLimitTitle: lang.attachLimitTitle,
			uploadLimitMsg: lang.attachLimit,
			uploadLimit: "{{ATTACHMENTLIMIT}}",
			confirmDeleteTitle: lang.attachDeleteTitle,
			deleteUrl: "{{BOARD_URL}}{{INDEX_PAGE}}/upload/delete",
			confirmDeletMsg: lang.attachDeletePrompt,
			fileMgrUrl: "{{BOARD_URL}}{{INDEX_PAGE}}/upload/"
		});
	});
</script>
{% endif %}
{{REPLYFORM|raw}}
<div align="center">

<div id="emoticons" class="ui-widget-content ui-corner-all" style="width:500px;" align="center">
	{{SMILES|raw}}
	<hr />
	<a href="#smiles" onclick="$('#moreSmiles').dialog('open');">{{LANG_SMILES}}</a>
</div><br />

<textarea id="replyBody" name="reply_post" cols="80" rows="20">{{QUOTE_BODY}}</textarea>
<br /><input type="submit" value="{{LANG_REPLY}}" class="submit" />
<br />
<div class="ui-widget-content ui-corner-all" style="text-align:left;width:450px; padding: 0 .7em;">
	<div style="text-align:center;">
		<a href="#editor" class="toggle"><span>{{LANG_DISABLERTF}}</span></a>
	</div>
	<input type="checkbox" name="subscribe" value="1" />{{LANG_NOTIFY}}<br />
	<input type="checkbox" name="no_smile" value="1" />{{LANG_DISABLESMILES}}<br />
	<input type="checkbox" name="no_bbcode" value="1" />{{LANG_DISABLEBBCODE}}
</div>
</form><br />
</div>


<div class="ui-widget-content" id="replyoverview">
	<div style="text-align:center;">
		<strong>{{LANG_TOPICREVIEW}}</strong>&nbsp;&bull;&nbsp;[<a href="#replyoverview" onClick="loadIframe('topicreview', '{{INDEX_PAGE}}/print/{{TID}}');"><img src="application/views/ClearBlue2/images/reload.png" alt="{{LANG_RELOAD}}" /></a>]
	</div>
	<iframe src="{{INDEX_PAGE}}/print/{{TID}}" width="100%" id="topicreview" style="border:0px;"></iframe>
</div>

<script type="text/javascript">
$('#replyBody').focus();

new FormValidator('frmReply', [{
	name: 'replyBody',
	display: '{{LANG_TOPICBODY}}',
	rules: 'required|min_length[10]'
}], function(errors, event) {

	if (errors.length > 0) {
		$('#validateRes').empty();
		$('#validateRes').append(errors.join('<br />'));
		$('#div_ErrMsg').show();
	} else {
		event.returnValue = true; //allow form to process.
	}

});
</script>
{% endblock %}
