{% extends "master.twig" %}

{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}

{% block bodyRender %}

<script type="text/javascript" src="{{BOARD_URL}}js/jquery.jUploader.js"></script>
<!-- markItUp! -->
<script type="text/javascript" src="{{BOARD_URL}}js/jquery.markitup.js"></script>
<!-- markItUp! toolbar settings -->
<script type="text/javascript" src="{{BOARD_URL}}js/set.js"></script>
<!-- API detection -->
<script type="text/javascript" src="{{BOARD_URL}}js/validateAPI.js"></script>
<!-- Rich text editor file -->
<script type="text/javascript" src="{{BOARD_URL}}js/tEditor.js"></script>

{{BREADCRUMB|raw}}<br />

{{VALIDATIONSUMMARY|raw}}<br />

<!-- validation box. -->
<div align="center" style="display:none;" id="div_ErrMsg">
	<div class="ui-widget" style="width: 45%;">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsg').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
			<p id="validateRes"></p>
		</div>
	</div>
</div>

<table border="0" class="table" cellpadding="1" cellspacing="1">
<tr>
	<td class="ui-widget-header" align="center">
		{{LANG_POSTINGRULES}}
	</td>
</tr><tr>
	<td class="ui-widget-content" align="center">
		{{LANG_ALLOWSMILES}}: 
		{% if ALLOWSMILES == 1 %}
		<strong>{{LANG_YES}}</strong>
		{% else %}
		<strong>{{LANG_NO}}</strong>
		{% endif %}
		&nbsp;|&nbsp;
		{{LANG_ALLOWBBCODE}}:
		{% if ALLOWBBCODE == 1 %}
		<strong>{{LANG_YES}}</strong>
		{% else %}
		<strong>{{LANG_NO}}</strong>
		{% endif %}
		&nbsp;|&nbsp;
		{{LANG_ALLOWIMG}}: 
		{% if ALLOWIMG == 1 %}
		<strong>{{LANG_YES}}</strong>
		{% else %}
		<strong>{{LANG_NO}}</strong>
		{% endif %}
	</td>
</tr>
</table><br />

<!-- Similar Topic results. -->
<div style="display:none;" id="div_notice"  align="center">
	<div class="ui-widget">
		<div class="ui-state-highlight ui-corner-all" style="text-align:left;margin-top: 20px;width:500px;padding: 0 .7em;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_notice').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
            <div id="smloading"><img src="themes/{{THEME_NAME}}/images/smloader.gif" /></div>
			<p><span class="ui-icon ui-icon-search" style="float: left; margin-right: .3em;"></span>
		    <div id="similar"></div>
		</div>
	</div>
</div>
<br />

<!-- warning container -->
<div align="center" style="display:none;" id="div_ErrMsg">
	<div class="ui-widget" style="width: 45%;">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
			<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsg').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<strong>Alert:</strong>&nbsp;<span id="ErrMsg"></span></p>
		</div>
	</div>
</div>

<div id="moreSmiles"></div>

{% if ATTACHMENTLIMIT > 0 %}
<div id="DLG_upload">
	{{UPLOADFORM|raw}}
		<input id="attach" name="userfile" type="file" /><br />
		<input type="submit" value="{{LANG_UPLOAD}}" id="fileUpload" />
		<input type="reset" value="{{LANG_CLEAR}}" id="ClearList" />
		<input type="button" value="{{LANG_ADDMOREFILES}}" id="addMoreFiles" />
	</form>
	<div id="filelist"></div>
</div>
<script type="text/javascript">
	$(function(){
		$('#attach').jUploader({
			lngOk: lang.Ok,
			lngYes: lang.Yes,
			lngNo: lang.No,
			lngError: lang.Error,
			duplicateTitle: lang.duplicateTitle,
			duplicateMsg: lang.duplicateMsg,
			LoadingGfx: "{{BOARD_URL}}themes/{{THEME_NAME}}/images/loading.gif",
			LoadingMsg: lang.attachLoading,
			PendingMsg: lang.attachPending,
			SuccessMsg: lang.attachSuccess,
			FailureMsg: lang.attachFailed,
			uploadLimitTitle: lang.attachLimitTitle,
			uploadLimitMsg: lang.attachLimit,
			uploadLimit: "{{ATTACHMENTLIMIT}}",
			confirmDeleteTitle: lang.attachDeleteTitle,
			deleteUrl: "{{BOARD_URL}}{{INDEX_PAGE}}/upload/delete",
			confirmDeletMsg: lang.attachDeletePrompt,
			fileMgrUrl: "{{BOARD_URL}}{{INDEX_PAGE}}/upload/"
		});
	});
</script>
{% endif %}

{% if POLLOPTION == TRUE %}
{{NEWPOLLFORM|raw}}
{% else %}
{{NEWTOPICFORM|raw}}
{% endif %}
<div align="center">

<div id="emoticons" class="ui-widget-content ui-corner-all" style="width:500px;" align="center">
	{{SMILES|raw}}
	<hr />
	<a href="#smiles" onclick="$('#moreSmiles').dialog('open');">{{LANG_SMILES}}</a>
</div><br />
<div class="ui-widget-content ui-corner-all" style="width:400px;text-align:left;padding: 0 .7em;">
{{LANG_TOPIC}}:<br /><input type="text" name="topic" class="text" size="30" id="topic" />
</div>
<textarea id="body" name="post" cols="80" rows="20"></textarea>
<br /><input type="submit" value="{{LANG_POSTTOPIC}}" class="submit" />

{% if POLLOPTION == TRUE %}
<br /><br />
<div class="ui-widget-content ui-corner-all" style="text-align:left;width:450px; padding: 0 .7em;">
	{{LANG_QUESTION}}<br />
	<input type="text" name="question" id="question" class="text" size="30" />
	<br /><br />
	<small>{{LANG_POLL}}</small><br />
	<textarea name="pollOpts" id="pollOpts" rows="5" cols="50"  class="text"></textarea>
</div>
{% endif%}
<br />
<div class="ui-widget-content ui-corner-all" style="text-align:left;width:450px; padding: 0 .7em;">
	<div style="text-align:center;">
		<a href="#editor" class="toggle"><span>{{LANG_DISABLERTF}}</span></a>
	</div>
	{% if GAC_IMPORTANT == TRUE %}
	{{LANG_POSTTYPE}}:&nbsp;<input type="radio" name="post_type" value="1" />{{LANG_IMPORTANT}}&nbsp;<input type="radio" name="post_type" value="0" checked=checked />{{LANG_NORMAL}}<br />
	{% else %}
	<input type="hidden" name="post_type" value="0" />
	{% endif %}	
	<input type="checkbox" name="subscribe" value="1" />{{LANG_NOTIFY}}<br />
	<input type="checkbox" name="no_smile" value="1" />{{LANG_DISABLESMILES}}<br />
	<input type="checkbox" name="no_bbcode" value="1" />{{LANG_DISABLEBBCODE}}
</div>
</form><br />
</div>
<script type="text/javascript">
$('#topic').focus();

new FormValidator('frmNewTopic', [{
	name: 'topic',
	display: '{{LANG_TOPIC}}',
	rules: 'required|max_length[50]'
},
{% if POLLOPTION == TRUE %}
{
	name: 'question',
	display: '{{LANG_QUESTION}}',
	rules: 'required|min_length[5]|max_length[50]'
},{
	name: 'pollOpts',
	display: '{{LANG_POLLOPTIONS}}',
	rules: 'required'
},
{% endif %}
{
	name: 'post',
	display: '{{LANG_TOPICBODY}}',
	rules: 'required|min_length[10]'
}], function(errors, event) {

	if (errors.length > 0) {
		$('#validateRes').empty();
		$('#validateRes').append(errors.join('<br />'));
		$('#div_ErrMsg').show();
	} else {
		event.returnValue = true; //allow form to process.
	}

});

/**
 * similarTopics
 * AJAX call to find similar topics.
**/
$('#topic').change(function() {
	//ensure we enter in data first.
	if ($(this).val() != "") {

		//show panel.
		$('#div_notice').show();

		//call .ajax to call server.
		$.post("{{BOARD_URL}}{{INDEX_PAGE}}/ajax/SimilarTopics", $('#frmNewTopic').serialize(),function(html){
			$("#similar").html(html).removeClass("ui-state-error");
		}); //END $.ajax(

		//error handler.
		$("#similar").ajaxError(function(e, xhr){
			var msg = lang.jsError + ":<br />";
			$(this).html(msg + xhr.status + " " + xhr.statusText).addClass("ui-state-error");
		});

	}
}); //END .change
</script>

{% endblock %}
