{% extends "master.twig" %}

{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />
{{PAGINATION|raw}}<br />

{# display any sub-boards here. #}
{% if SubBoardCount(BOARDID) > 0 %}

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr class="ui-widget-header">
	<th width="4%">&nbsp;</th><th width="56%">{{LANG_BOARD}}</th><th width="10%">{{LANG_TOPIC}}</th><th width="10%">{{LANG_POST}}</th><th width="20%">{{LANG_LASTPOSTDATE}}</th>
</tr>
{% for b in SUBBOARDDATA %}
<tr>
	<td class="ui-widget-content centerText">{{ b.id|ReadStat(LOGGEDUSER) ?  '<div class="board-status-icon old_topic centerContainer"></div>' : '<div class="board-status-icon new_topic centerContainer"></div>' }}</td>
	<td class="ui-widget-content"><strong>{{URL_TAG("/viewboard/"~ b.id, b.Board)|raw}}</strong>&nbsp;{{URL_TAG("/feed/"~ b.id, IMG("themes/"~THEME_NAME~"/images/rss.png"))|raw}} <br />{{b.Description|raw}}<br />{{b.id|SubBoards|raw}}</td>
	<td class="ui-widget-content centerText">{{b.id|counter("TopicCount")}}</td>
	<td class="ui-widget-content centerText">{{b.id|counter("PostCount")}}</td>
	<td class="ui-widget-content">{{b.last_update|PostedDate(TimeFormat, TimeZone)}}<br />{{URL_TAG("/viewtopic/"~ b.tid~"/"~b.last_page, LANG_POSTEDBY)|raw}} {{b.Username}}</td>
</tr>
{% endfor %}
</table><br />
{% endif %}

{# grab permissions for posting on this board. #}
{% if LOGGEDUSER == "guest" %}
<button id="juiBtnLocked">{{LANG_BTNLOCKED}}</button>
{% else %}

{# can they post a new topic? #}
{% if CANPOST_TOPIC == 1 %}
<button id="juiBtnNewTopic" onclick="gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/newtopic/{{BOARDID}}');">{{LANG_BTNNEWTOPIC}}</button>
{% else %}
<button id="juiBtnLocked">{{LANG_BTNLOCKED}}</button>
{% endif %}

{# can they post a new poll topic?. #}
{% if CANPOST_POLL == 1 %}
<button id="juiBtnNewPoll" onclick="gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/newpoll/{{BOARDID}}');">{{LANG_BTNNEWPOLL}}</button>
{% endif %}

{% endif %}
<br /><br />

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<th class="ui-widget-header" width="5%">&nbsp;</th>
<th class="ui-widget-header" width="40%">{{LANG_TOPIC}}</th>
<th class="ui-widget-header" width="15%">{{LANG_POSTEDBY}}</th>
<th class="ui-widget-header" width="10%">{{LANG_REPLIES}}</th>
<th class="ui-widget-header" width="10%">{{LANG_POSTVIEWS}}</th>
<th class="ui-widget-header" width="20%">{{LANG_LASTPOSTEDBY}}</th>
</tr>

{% if BOARDCOUNT== 0 %}
<tr>
<td colspan="6" class="ui-widget-content centerText">{{LANG_NOPOST}}</td>
</tr>
{% elseif CANREAD_TOPIC == FALSE %}
<tr>
<td colspan="6" class="ui-widget-content centerText">{{LANG_NOREAD}}</td>
</tr>
{% else %}

{% for t in BOARDDATA %}
<tr>
<td class="ui-widget-content centerText" width="5%">
{# icon setup. #}
{% if t.important == 1 %}
<div class="board-status-icon important_topic centerContainer"></div>
{% elseif t.Locked == 1 %}
<div class="board-status-icon locked_topic centerContainer"></div>
{% elseif t.topic_type == 1 %}
<div class="board-status-icon poll_topic centerContainer"></div>
{% elseif t.tid|counter("TopicReplies") >= 15 %}
{# topic is popular. #}
<div class="board-status-icon hot_topic centerContainer"></div>
{% elseif t.tid|TopicReadStat(LOGGEDUSER) %}
<div class="board-status-icon old_topic centerContainer"></div>
{% else %}
<div class="board-status-icon new_topic centerContainer"></div>
{% endif %}
</td>
<td width="40%" class="ui-widget-content">{{ Attachment(t.tid) ? '<div class="board-status-icon-attachment floatLeft"></div>&nbsp;' : "" }} {{URL_TAG("/viewtopic/"~ t.tid, t.Topic)|raw}}</td>
<td width="15%" class="ui-widget-content">{{t.Username}}</td>
<td width="10%" class="ui-widget-content centerText">{{t.tid|counter("TopicReplies")}}</td>
<td width="10%" class="ui-widget-content centerText">{{t.Views|counter("TopicViews")}}</td>
<td width="20%" class="ui-widget-content">{{t.last_update|PostedDate(TimeFormat, TimeZone)}}<br />{{URL_TAG("/viewtopic/"~t.tid~"/"~t.last_page~"#post"~t.pid, LANG_POSTEDBY)|raw}}: {{t.Username}}</td>
</tr>
{% endfor %}

{% endif %}
</table><br />

<div class="ui-widget-content ui-corner-all centerContainer" style="width:600px;padding:0 .7em;overflow: hidden;">
	<div class="board-status-icon important_topic floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_IMPORTANTTOPIC}}&nbsp;</div>
	<div class="board-status-icon locked_topic floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_LOCKTOPIC}}&nbsp;</div>
	<div class="board-status-icon poll_topic floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_POLLTOPIC}}&nbsp;</div>
	<div class="board-status-icon hot_topic floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_HOTTOPIC}}&nbsp;</div>
	<div class="board-status-icon old_topic floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_OLDPOST}}&nbsp;</div>
	<div class="board-status-icon new_topic floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_NEWPOST}}&nbsp;</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#juiBtnNewTopic").button({
			icons: {
                primary: "ui-icon-comment"
            }
		});
		$("#juiBtnNewPoll").button({
			icons: {
                primary: "ui-icon-signal"
            }
		});
		$('#juiBtnLocked').button({
			disabled: true,
			icons: {
                primary: "ui-icon-locked"
            }
		});
	});
</script>
{% endblock %}
