<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--  Base CSS -->
{{LinkTag("application/views/simple2/css/style.css")|raw}}
{{LinkTag("application/views/simple2/css/jui.css")|raw}}

<!--  markItUp! toolbar skin -->
{{LinkTag("application/views/simple2/css/bbcode.css")|raw}}
{{LinkTag("application/views/simple2/css/skin.css")|raw}}

<!--RSS & ICO -->
{{LinkTag("application/views/simple2/images/favicon.ico", "shortcut icon", "image/ico")|raw}}
{{LinkTag("boards/latestPost", "alternate", "application/rss+xml", pageTitle)|raw}}

<!-- Language JS File. -->
<script type="text/javascript" src="{{APP_URL}}language/{{LANG}}/{{LANG}}.lang.js"></script>

<!-- REQUIRED, CORE -->
<script type="text/javascript" src="{{BOARD_URL}}js/jquery-1.6.4.min.js"></script>
<script src="{{BOARD_URL}}js/jquery-ui-1.8.16.min.js" type="text/javascript"></script>

<!-- PLUGINS USED ALL AROUND EBB -->
<script type="text/javascript" src="{{BOARD_URL}}js/dialog.js"></script>
<script type="text/javascript" src="{{BOARD_URL}}js/common.js"></script>

<!-- notification plug-in. -->
<script type="text/javascript" src="{{BOARD_URL}}js/jquery.jnotify.min.js"></script>
<script type="text/javascript" src="{{BOARD_URL}}js/notify.js"></script>

<!-- /JAVASCRIPT FILES -->
</head>
<body>
<!-- No javascript? let user know its required. -->
<noscript>
<div class="ui-widget-content">
<p style="font-weight:bold">{{LANG_INFO}}</p>
<p>{{LANG_JSDISABLED}}</p>
</div>
</noscript>

<!-- Used for our notification system -->
{% if NOTIFY_MSG != "" %}
<script type="text/javascript">
FormResults("{{NOTIFY_TYPE}}", "{{NOTIFY_MSG}}"); //display message.
</script>
{% endif %}

<div id="notifyContainer" style="display:none;"></div>

<!-- Used to confirm actions (will replace older method) -->
<div id="confirmDlg">
	<div id="confirmMsg"></div>
</div>


<!-- Used to warn about Firebug use -->
<div class="ui-widget" id="fbWarn" style="display:none;">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
		<span id="fbWarnInfo"></span>
		<span style="float: right;"><strong><a href="#close" onclick="$('#fbWarn').hide('blind', {}, 500);">X</a></strong></span></p>
	</div>
</div>
		
<!-- Code for help panel -->
<div id="help" style="display:none">
<!-- help content -->
<p style="font-weight: bold;">{{LANG-HELP-TITLE}}</p>
<p>{{LANG-HELP-BODY}}</p>
<!-- End content -->
</div>


<!-- End code for help panel -->
<div class="container">

{# toggle login panel based on rank. #}
{% if groupAccess == 1 %}

	<!-- START searchBar -->
	<div id="qSearch" style="display:none" title="{{LANG_QUICKSEARCH}}">
	<form method="get" action="#">
	<input type="text" id="searchKeyword" class="text" size="30" />&nbsp;
	<input type="button" value="{{LANG_SEARCH}}" id="iSearch" class="submit" />
	</form>
	<div id="lsloading"></div>
	<div id="livesearch"></div>
	</div>
	<!-- END searchBar -->

{%- elseif groupAccess == 2 -%}

	<!-- START searchBar -->
	<div id="qSearch" style="display:none" title="{{LANG_QUICKSEARCH}}">
	<form method="get" action="#">
	<input type="text" id="searchKeyword" class="text" size="30" />&nbsp;
	<input type="button" value="{{LANG_SEARCH}}" id="iSearch" class="submit" />
	</form>
	<div id="lsloading"></div>
	<div id="livesearch"></div>
	</div>
	<!-- END searchBar -->
	
{%- else -%}
	<!-- Login Modal -->
	<script type="text/javascript" src="{{BOARD_URL}}js/validation.js"></script>
	<div id="login" style="display:none" title="{{LANG_LOGIN}}">
 	{{LOGINFORM|raw}}

	<p>
	{{LANG_USERNAME}}&nbsp;[<a href="register.php">{{LANG_REGISTER}}</a>]<br />
	<input type="text" name="username" class="text" size="30" id="user" tabindex="1" onblur="validateAlphaNumeric('user', 'usererr');" />
	<div id="usererr"></div>
	</p>

	<p>
	{{LANG_PASSWORD}}&nbsp;[<a href="login.php?mode=lostpassword">{{LANG_FORGOT}}</a>]<br />
	<input type="password" name="password" class="text" size="30" id="pass" tabindex="2" onblur="validateAlphaNumeric('pass', 'passerr');" />
	<div id="passerr"></div>
	</p>

	<p>
	<input type="checkbox" name="auto_login" value="1" />{{LANG_REMEMBERTXT}}
	</p>

	<p>
	<input type="submit" value="{{LANG_LOGIN}}" class="submit" />
	</p>
	</form>
	</div>


{%- endif -%}

<table border="0" class="table" cellspacing="1" cellpadding="3">
<tr>
<td align="center" class="td" valign="top">{{IMG("application/views/simple2/images/boardlogo.png")|raw}}</td>
</tr><tr>

{# setup menu by group policy. #}
{% if groupAccess == 1 %}

	<td class="ui-widget-content">{{LANG_WELCOME}} <b>{{LOGGEDUSER}}</b> [{{URL_TAG("login/LogOut/", LANG_LOGOUT)|raw}}]<br /><a href="Profile.php#/PM/Inbox">{{NEWPM}}</a><br /><a href="acp/index.php">{{LANG_CP}}</a><br /><a href="Search.php?action=newposts">{{LANG_NEWPOSTS}}</a></td>
	</tr><tr>
		<td class="ui-widget-content" align="center"><a href="{{ADDRESS}}">{{LANG_HOME}}</a> - <a href="#" onclick="$('#qSearch').dialog('open');">{{LANG_SEARCH}}</a> - <a href="#" onclick="$('#help').dialog('open');">{{LANG_HELP}}</a> - <a href="Members.php">{{LANG_MEMBERLIST}}</a> - <a href="Profile.php">{{LANG_PROFILE}}</a></td>
	</tr><tr>

{%- elseif groupAccess == 2 -%}

	<td class="ui-widget-content">{{LANG_WELCOME}} <b>{{LOGGEDUSER}}</b> [{{URL_TAG("login/LogOut/", LANG_LOGOUT)|raw}}]<br /><a href="Profile.php#/PM/Inbox">{{NEWPM}}</a><br /><a href="Search.php?action=newposts">{{LANG_NEWPOSTS}}</a></td>
	</tr><tr>
		<td class="ui-widget-content" align="center"><a href="{{ADDRESS}}">{{LANG_HOME}}</a> - <a href="#" onclick="$('#qSearch').dialog('open');">{{LANG_SEARCH}}</a> - <a href="#" onclick="$('#help').dialog('open');">{{LANG_HELP}}</a> - <a href="Members.php">{{LANG_MEMBERLIST}}</a> - <a href="Profile.php">{{LANG_PROFILE}}</a></td>
	</tr><tr>

{%- else -%}
	<td class="ui-widget-content">{{LANG_WELCOMEGUEST}}! <a href="#" onclick="$('#login').dialog('open');">{{LANG_LOGIN}}</a> | {{URL_TAG("login/register/", LANG_REGISTER)|raw}}</td>
	</tr><tr>
		<td class="ui-widget-content" align="center"><a href="{{ADDRESS}}">{{LANG_HOME}}</a> - <a href="#" onclick="$('#help').dialog('open');">{{LANG_HELP}}</a></td>
	</tr><tr>
{%- endif -%}

<td valign="top" class="td">
{% block bodyRender %}{% endblock %}
</td>
</tr><tr>
<td align="center" width="100%" class=" ui-corner-left ui-corner-right ui-widget-content">{{LANG_POWERED}}: <a href="http://elite-board.us/" target="_blank">Elite Bulletin Board</a> &#169; 2006-2012</td>
</tr>
</table>
</div>
</body>
</html>