{% extends "/simple2/master.twig" %}

{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />
{{PAGINATION|raw}}<br />


{# grab permissions for posting on this board. #}
{% if LOGGEDUSER == "guest" %}
{{IMG("application/views/simple2/images/locked.gif")|raw}}
{% else %}

{# can user post a reply?. #}
{% if CANPOST_REPLY == 1 %}
{{URL_TAG("boards/reply/"~TOPICID, IMG("application/views/simple2/images/reply.gif"))|raw}}<br /><br />
{% endif %}

{% endif %}

<p class="ui-widget-content">
	{{URL_TAG("boards/printable/"~TOPICID, LANG_PRINT)|raw}}
</p>

{# display a poll if present. #}
{POLL}<br />

<!-- START move -->
{{URL_TAG("maintenance/move/"~TOPICID, IMG("application/views/simple2/images/move.gif"))|raw}}
<!-- END move -->

<!-- START deletetopic -->
<a href="#" onclick="confirmDlg('{LANG_DELPROMPT}', '{BOARDDIR}/manage.php?mode=delete&amp;bid={BID}&amp;tid={TID}');return false;"><img src="template/simple2/images/deletetopic.gif" alt="" border="0" /></a>
<!-- END deletetopic -->

<!-- START lock -->
{{URL_TAG("maintenance/lock/"~TOPICID, IMG("application/views/simple2/images/lock.gif"))|raw}}<br />
<!-- END lock -->

<!-- START unlock -->
{{URL_TAG("maintenance/unlock/"~TOPICID, IMG("application/views/simple2/images/unlock.gif"))|raw}}<br />
<!-- END unlock -->

<table border="0" class="table" cellpadding="1" cellspacing="1">
<tr>
<td colspan="2" class="ui-widget-header">{{TOPIC_SUBJECT}} - {{LANG_POSTED}}: {{TOPIC_POSTEDON|PostedDate(TimeFormat, TimeZone)}}

<span class="postopt">&nbsp;
<!-- START viewip -->
{{LANG_IP}}&nbsp;{{URL_TAG("maintenance/viewip/", TOPIC_IP)|raw}}
<!-- END viewip -->

<!-- START iplogged -->
{{LANG_IPLOGGED}}&nbsp;
<!-- END iplogged -->

<!-- START edit -->
{{URL_TAG("boards/edittopic/"~TOPICID, IMG("application/views/simple2/images/edit.gif"))|raw}}
<!-- END edit -->

<!-- START delete -->
<a href="#" onclick="confirmDlg('{LANG-DELPROMPT}', '{BOARDDIR}/delete.php?action=deleteTopic&bid={BID}&tid={TID}');return false;"><img src="template/simple2/images/delete.gif" border="0" alt="" /></a>
<!-- END delete -->

<!-- START quote -->
{{URL_TAG("boards/reply/"~TOPICID, IMG("application/views/simple2/images/quote.gif"))|raw}}
<!--<a href="Post.php?mode=Reply&amp;bid={BID}&amp;tid={TID}&amp;type=1&amp;quser={AUTHOR}"><img src="template/simple2/images/quote.gif" border="0" alt="" /></a>-->
<!-- END quote -->
</span></td>
</tr><tr>
<td width="15%" valign="top" class="ui-widget-header">
    <b>{{TOPIC_AUTHOR}}</b><br />{CUSTOMTITLE}<i>{RANK}</i><br />{RANKICON}<br /><br /><img src="{AVATAR}" alt="" /><br /><br />{LANG-POSTCOUNT}: {POSTCOUNT}<br />{WARNINGBAR}
</td>
<td width="85%" valign="top" class="ui-widget-content">
<!-- START qedit -->
	<!-- Quick Edit coming for v3.0.0 RC2 -->
<!-- END qedit -->
<br />
<div id="topic">{{TOPIC_BODY}}</div><br />{ATTACHMENT}<br />{SIGNATURE}</td>
</tr><tr>
<td colspan="2" align="right" class="ui-widget-header">
    {{URL_TAG("profile/#/"~AUTHOR, IMG("application/views/simple2/images/profile.gif"))|raw}}&nbsp;
    {{URL_TAG("profile/#/PM/compose/"~AUTHOR, IMG("application/views/simple2/images/pm.gif"))|raw}}&nbsp;
    {{URL_TAG("boards/reporttopic"~TOPICID, IMG("application/views/simple2/images/report.gif"))|raw}}
</td>
</tr>
</table><br />

{# display a list of replies if present. #}
{% for r in REPLYDATA %}

<table border="0" class="table" cellspacing="1" cellpadding="1">
<tr>
<td colspan="2" class="ui-widget-header">{LANG_POSTEDON}: {POSTEDON}
<span class="postopt">
&nbsp;
<!-- START viewip -->
{LANG_IP}&nbsp;{{URL_TAG("maintenance/viewip/", r.IP)|raw}}
<!-- END viewip -->

<!-- START iplogged -->
{LANG-IPLOGGED}&nbsp;
<!-- END iplogged -->

<!-- START edit -->
{{URL_TAG("boards/editpost/"~r.pid, IMG("application/views/simple2/images/edit.gif"))|raw}}
<!-- END edit -->

<!-- START delete -->
<a href="#" onclick="confirmDlg('{LANG-DELPROMPT}', '{BOARDDIR}/delete.php?action=deletePost&bid={BID}&tid={TID}&pid={POSTID}');return false;"><img src="template/simple2/images/delete.gif" border="0" alt="" /></a>
<!-- END delete -->

<!-- START quote -->
{{URL_TAG("boards/reply/"~TOPICID, IMG("application/views/simple2/images/quote.gif"))|raw}}
<!--<a href="Post.php?mode=Reply&amp;bid={BID}&amp;tid={TID}&amp;pid={POSTID}&amp;type=2&amp;quser={AUTHOR}"><img src="template/simple2/images/quote.gif" border="0" alt="" /></a>-->
<!-- END quote -->
</span></td>
</tr><tr>
<td width="15%" class="ui-widget-header" valign="top">
    <b>{{r.author}}</b><br />{CUSTOMTITLE}<i>{RANKNAME}</i><br />{RANKICON}<br /><br /><img src="{AVATAR}" alt="" /><br /><br />{LANG-POSTCOUNT}: {POSTCOUNT}<br />{WARNINGBAR}
</td>
<td width="85%" valign="top" class="ui-widget-content">
<!-- START qedit -->
	<!-- Quick Edit coming for v3.0.0 RC2 -->
<!-- END qedit -->
<br /><div id="edit">{POSTBODY}</div><br />{ATTACHMENT}<br />{SIGNATURE}</td>
</tr><tr>
<td colspan="2" align="right" class="ui-widget-header">
    {{URL_TAG("profile/#/"~r.re_author, IMG("application/views/simple2/images/profile.gif"))|raw}}&nbsp;
    {{URL_TAG("profile/#/PM/compose/"~r.re_author, IMG("application/views/simple2/images/pm.gif"))|raw}}&nbsp;
    {{URL_TAG("boards/reportpost"~r.pid, IMG("application/views/simple2/images/report.gif"))|raw}}
</td>
</tr>
</table><br />

{% endfor %}

{% endblock %}